    html {
        min-height: 100%;
    }
    
    body {
        min-height: 100%;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    main {
        display: flex;
        justify-content: center;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    .overflow {
        overflow: hidden;
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: rect(0 0 0 0);
    }
    
    .hide {
        display: none;
    }
    
    .show {
        display: block;
    }